[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 48739577
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Run"
author = 48739577
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Direct contact "
mode = "parallel"
author = 48739577

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "20130314143016"

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "nix"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Direct contact "

[[workflows.workflow]]
name = "Direct FCC Contact"
author = 48739577
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -X GET http://0.0.0.0:5000/sportsbook"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"FCC Entity: 20130314143016\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Registration: 0024454324\""

[[ports]]
localPort = 5000
externalPort = 5000

[deployment]
run = ["sh", "-c", "NODE_ENV=production node dist/index.js"]
build = ["sh", "-c", "npm run build"]
